<div class='container'>
  <div class='row'>
    <div class="col-sm12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h3>作品編集</h3>
  		<%= form_with(model: @user, url: user_path, local: true) do |f| %>
  		<div class="field">
  		  <%= f.label"アイコンを変更" %>
  		  <%= f.file_field :profile_image, multiple: true %><br>
  		  <%= f.label"ユーザーネームを変更" %>
  		  <%= f.text_field :name, class: "form-control custom-input" %>
  		  <%= f.label"プロフィールを編集" %>
  		  <%= f.text_area :introduction, class: "form-control custom-input" %>
      </div>

    　<!--<div class="actions" style="margin:20px 0;">-->
        <%= f.submit "完了",class:"btn btn-outline-primary btn-block" %>

      <!--</div>-->
      <% end %>

  		<%= link_to '戻る', user_path, class: "back" %>
  </div>
</div>
