<div class='container' >
  <div class='row'>
     <h3><i class="fa-solid fa-user"> ユーザープロフィール </i></h3>
  <%= image_tag @user.get_profile_image(200, 200) %><br>
  <div class='container'>
    <div class='row'>
	  <h4><%= @user.name %></h4><br>
	 </div>

    <div class='row'>
	  プロフィール<br>
	  <%= @user.introduction %>
	  </div>
<% if @user.name != "guestuser" %>
	  <div class='row'>
  <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
    プロフィールを編集
  <% end %>
  <% end %>
</div>
</div>


  <!--  follows-->
  <!--  %= link_to user_followings_path(user) do %>-->
  <!--    %= user.followings.count %>-->
  <!--  % end %>-->

  <!--  followers-->
  <!--  %= link_to user_followers_path(user) do %>-->
  <!--    %= user.followers.count %>-->
  <!--    % end %>-->

  <!--% unless user == current_user %>-->
  <!-- % if current_user.following?(user) %>-->
  <!--      <td>%= link_to "フォローを解除", user_relationships_path(user.id), method: :delete %></td>-->
  <!--% else %>-->
  <!--      <td>%= link_to "フォローする", user_relationships_path(user.id), method: :post %></td>-->
  <!-- % end %>-->
  <!--% end %>-->

    </div>
      <h3> 作品一覧</h3>
      <%= render 'illusts/index', illusts: @illusts %>
    <!--</div>-->
</div>
