<div class="container my-5">
     <div class="my-4">
       <h3>ログイン</h3>
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <!--%= render "public/shared/error_messages", resource: resource %>-->
      <table class="table table-borderless">
        <tr>
          <td class="col-2 py-1"><%= f.label :email, "メールアドレス"%></td>
          <td class="col-5"><%= f.email_field :email, placeholder: "example@example.com", autofocus: true, autocomplete: "email", class: "form-control custom-input" %></td>
        </tr>
        <tr>
          <td class="py-1"><%= f.label :password, "パスワード" %></td>
          <td class=""><%= f.password_field :password, autocomplete: "current-password", class: "form-control custom-input" %></td>
        </tr>
        <tr>
          <td class="py-1"></td>
          <td class=""><%= f.submit "ログイン", class: "btn custom-button form-control", style: "width: 30%" %></td>
        </tr>
      </table>
      <% end %>
      <%= image_tag("イラスト36.png", alt: "マスコット2", width: "230", height: "300") %>
    </div>
</div>