 <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
    <% illusts.each do |illust| %>
      <tr>
        <td><%= link_to(illust.user) do %>
          <%= image_tag illust.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to illust.title,illust %></td>
        <td><%= illust.body %></td>
        　<td id="favorite_buttons_<%= illust.id %>">
    <td>
　　　<!--%= render "favorites/favorite", illust: illust %>-->
　　　</td>
　　</td>

     <!--<td><i class="fa-regular fa-comment"> %= "#{illust.illust_comments.count} "%></i></td>-->

      </tr>
      <% end %>