 <!--%= render 'layouts/errors', obj: @illust %>-->
<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>作品編集</h1>  
  		<div class="field">
        <%= f.label"タグ (,で区切ると複数タグ登録できます)" %>
        <%= f.text_field :name,value: @tag_list,class:"form-control"%>
      </div>
    
    　<div class="actions" style="margin:20px 0;">
        <%= f.submit "投稿",class:"btn btn-outline-primary btn-block" %>
      </div>
      <% end %>

  		<%= link_to 'Show', @illust %> |
  		<%= link_to 'Back', illusts_path, class: "back" %>
  </div>
</div>
