 <!--%= render 'layouts/errors', obj: @illust %>-->
<div class='container'>
  <div class='row'>
    <div class="col-sm12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h3>作品編集</h3>
  		<%= form_with(model: @illust, url: illusts_path, local: true) do |f| %>
  		<div class="field">
  		  <%= f.file_field :illust_images, multiple: true %><br>
  		  <%= f.label"タイトル" %>
  		  <%= f.text_field :illust_name, class: "form-control custom-input" %>
  		  <%= f.label"説明" %>
  		  <%= f.text_area :illust_body, class: "form-control custom-input" %>
        <%= f.label"タグ (、で区切ると複数タグ登録できます)" %>
        <%= f.text_field :name,value: @tag_list,class:"form-control"%>
      </div>

    　<div class="actions" style="margin:20px 0;">
        <%= f.submit "完了",class:"btn btn-outline-primary btn-block" %>
      </div>
      <% end %>

  		<%= link_to 'Show', @illust %> |
  		<%= link_to 'Back', illusts_path, class: "back" %>
  </div>
</div>
