<div class="container">
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>作品投稿</h3>
      <%= form_with model: @illust, url: illusts_path do |f| %>
        <table>
          <tr>
            <th>画像</th>
            <td><%= f.file_field :illust_image, accept: "image/*" %></td>
          </tr>
          <tr>
            <th>タイトル</th>
            <td><%= f.text_field :illust_name, class: "form-control custom-input" %></td>
          </tr>
          <tr>
            <th>説明</th>
            <td><%= f.text_area :illust_body, class: "form-control custom-input" %></td>
          </tr>
          <tr>
            <div class="field">
              <th>タグ</th>
              <td><%= f.text_field :name,value: @tag_list,class:"form-control custom-input"%></tb>
            </div>
          </tr>
          <tr>
            <th></th>
            <td><%= f.label" (,で区切ると複数タグ登録できます)" %></td>
          </tr>

          <tr>
            <th>AIイラスト</th>
            <td>
              <%= f.label :ai_status_on_ai, 'AIイラストです' %>
              <%= f.radio_button :is_active, :true %>
              <%= f.label :ai_status_draft, 'AIイラストではありません' %>
              <%= f.radio_button :is_active, :false, checked: true %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.submit '投稿', class: "btn custom-button" %>
            </td>
          </tr>
          <% end %>

        </table>
      <!--% end %>-->
    </div>
  </div>
</div>
