<div class='container'>
  <div class='row'>
    <div class='col-md-2'>
      <!--%= render 'users/info', user: @book.user %>-->
      <!--%= render 'form', book: @book_new %>-->
    </div>
    <div class='col-md-8 offset-md-1'>
  		<table class='table'>
  		  <tr>
          <td>
            <div class="img-container">
            <% if @illust.illust_images.attached? %>
              <% @illust.illust_images.each do |image| %>
                <%= image_tag image, size: "500x500" %>
              <% end %>
            <% end %>
            </div>
            <%= @illust.illust_name %>
            <%= @illust.illust_body %>
            <%= @illust.is_active %>
            <!--<td id="favorite_buttons_%= @illust.id %>">-->
              <!--%= render "favorites/favorite", illust: @illust %>-->
　　      </td>
　　       <td><%= render 'illusts/tag_list', tag_list: @illust.tag_list %></td>

          </tr>
            <% if @illust.user == current_user %>
            <td><%= link_to 'Edit', edit_illust_path(@illust), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @illust, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
             <% end %>
<div>
  <tr>
  <td>
  <!--コメント件数：%= @book.book_comments.count %>-->
  </td>
  </tr>

  <tr>

  <!--%= render 'book_comments/form', book: @book, book_comment: @book_comment %>-->

  </tr>
   <tr>
      <td>
  <!--<div class="comments_area">-->
  <!--%= render 'book_comments/book_comment', book: @book %>-->
</div>
</td>
  </tr>
</div>

      </table>


    </div>
  </div>
</div>